<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    
    <%- include ('header.ejs') %>

    <main class="container mx-auto py-8 px-4">

        <div class="mb-8 text-center">
            <a href="/view-course/<%= course.id %>?currentUserId=<%= currentUser.id %>" class="bg-gray-500 text-white px-6 py-3 rounded-md hover:bg-gray-700 transition duration-300 ease-in-out">Back to Course</a>
        </div>

        <div class="bg-white shadow-md rounded-lg p-8 max-w-md mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Course: <%= course.courseName %></h2>
            <form action="/view-course/<%= courseId %>/createchapter?currentUserId=<%= currentUser.id %>" method="post" autocomplete="on">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="courseId" value="<%= courseId %>">
                <div class="mb-4">
                    <label for="chapterName" class="block text-gray-700 text-lg font-semibold">Chapter Name:</label>
                    <input type="text" name="chapterName" id="chapterName" class="mt-1 block w-full border border-gray-300 rounded-md p-2 text-gray-900 text-lg" required />
                </div>
                <div class="mb-4">
                    <label for="chapterContent" class="block text-gray-700 text-lg font-semibold">Chapter Content:</label>
                    <textarea name="chapterContent" id="chapterContent" class="mt-1 block w-full border border-gray-300 rounded-md p-2 text-gray-900 text-lg h-36" required></textarea>
                </div>
                <div>
                    <button type="submit" class="bg-green-600 text-white px-6 py-3 rounded-md font-semibold hover:bg-green-700 transition duration-300 ease-in-out">Create Chapter</button>
                </div>
            </form>
        </div>

    </main>

    <%- include ('footer.ejs') %>

</body>

</html>
