<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <%- include ('header.ejs') %>
    <main class="mx-auto py-12 px-8">
        <div class="flex">
            <% if (currentUser.role === "student") { %>
                <a href="/student-center" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md transition duration-300 ease-in-out mb-4">Back to Center</a>
            <% } else { %>
                <a href="/educator-center" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md transition duration-300 ease-in-out mb-4">Back to Center</a>
            <% } %>
        </div>
    </main>
    <!-- details about the course -->
    <div class=" flex justify-center items-center">
        <div class="w-full max-w-lg p-8 bg-white rounded-lg shadow-md">
            <h2 class="text-3xl font-semibold mb-4"><%= course.courseName %></h2>
            <p class="text-lg mb-2"><strong>Created By: </strong><%= userofCourse.firstName %> <%= userofCourse.lastName %></p>
            <p class="text-lg mb-2"><strong>Created On:</strong> <%= course.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
            <p class="text-lg mb-2"><strong>Email: </strong><%= userofCourse.email %></p>
            <p class="text-lg mb-2"><strong>Content:</strong> <%= course.courseContent %></p>
            <p class="text-lg mb-2"><b>Chapters:</b></p>
            <ul class="list-disc pl-6 mb-4">
                <% const isEnrolled = enrols.some(enrollment => enrollment.userId === currentUser.id && enrollment.courseId === course.id); %>
                <% if(!isEnrolled && currentUser.role === "student") { %>
                    <li class="text-lg font-semibold text-red-600 bg-green-300 mb-2">Enrol to view content</li>
                <% } %>
                <!-- List of available chapters -->
                <% for (let chapter of chapters) { %>
                    <li class="text-blue-600 hover:text-blue-800 hover:underline mb-1">
                        
                        <% if (currentUser.role === "teacher") { %>
                            <a href="/view-chapter/<%= chapter.id %>/createpage?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                              <%= chapter.chapterName %>
                            </a>
                        <% } else if (currentUser.role === "student") { %>
                            
                            <% if (isEnrolled) { %>
                                <a href="/view-chapter/<%= chapter.id %>/viewpage?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                                    <%= chapter.chapterName %>
                                </a>
                            <% } else { %>
                                <%= chapter.chapterName %>
                            <% } %>
                        <% } %>
                    </li>
                <% } %>
            </ul>
            <% if(userofCourse.id === currentUser.id) { %>
                <a href="/view-course/<%= course.id %>/buildChapter?currentUserId=<%= currentUser.id %>" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md transition duration-300 ease-in-out">Create a New Chapter</a>
            <% } %>
        </div>
    </div>

    <%- include ('footer.ejs') %>
</body>
</html>
