<div class="py-4">
    <h2 class="text-3xl font-bold py-2">Explore Available Courses:</h2> 
        <% for (let course of courses) { %>
        <li class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300">
            <a href="/view-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2"><%= course.courseName %></h3>
                    <% for(let user of users) { %>
                        <% if(user.id === course.userId) { %>
                            <h3 class="text-md font-bold ml-3 mt-2 mb-3"> by <%= user.firstName %> <%= user.lastName %></h3>
                        <% } %>
                    <% } %>
                    <% const isEnrolled = enrols.some(enrollment => enrollment.userId === currentUser.id && enrollment.courseId === course.id); %>
                    <% if (isEnrolled) { %>
                        <button class="bg-gray-700 text-white px-3 py-1 rounded mx-2" disabled>Enrolled</button>
                    <% } else { %>
                        <a href="/view-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>" class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 mx-2">
                            View Course
                        </a>
                        <form method="POST" action="/enrol-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>" style="display: inline;">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <% if (currentUser.role === "student") { %>
                                <button type="submit" class="bg-green-600 text-white px-3 py-1 rounded hover:bg-green-700 mx-2">
                                    Enrol
                                </button>
                            <% } %>
                        </form>
                    <% } %>
                </div>
            </a>
        </li>
        <% } %>
    </ul>
</div>
