<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/new-styles.css"> 
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    
</head>
<body>
    <div class="grid grid-cols-12">
        <div class="col-start-4 col-span-6">
            <%- include('header.ejs') %>
            
            <div class="flex flex-row space-x-4 mt-6"> 
                <div class="m-3">
                    <a href="/createcourse" class="text-white bg-gray-600 rounded font-medium px-4 py-2 hover:bg-gray-800">
                        Create Course
                    </a>
                </div>
                <div class="m-3">
                    <a href="/my-courses" class="text-white bg-gray-600 rounded font-medium px-4 py-2 hover:bg-gray-800">
                        My Courses
                    </a>
                </div>
                <div class="m-3">
                    <a href="/view-report" class="text-white bg-purple-600 rounded font-medium px-4 py-2 hover:bg-purple-700">
                        View Report
                    </a>
                </div>
            </div>
            
        </div>
    </div>


    
    <%- include ('displayCourses.ejs', {currentUser, courses, users, enrols: enrols}) %>



    <div class="grid grid-cols-12 gap-4 py-8">
        <div class="col-start-4 col-span-6">
            <%- include('footer.ejs') %> 
            <a href="/signout" class="bg-red-600 hover:bg-red-800 text-white px-5 py-2 rounded font-medium mr-2 mb-2">Signout</a>
        </div> 

        

        <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
            <% } %>
        <% } %>
    </div>
</body>
</html>
