<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <%- include ('header.ejs') %>
        <main class="container mx-auto py-8 px-4">
            <div class="flex ">
                <a href="/student-center"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md transition duration-300 ease-in-out">Back
                    to Console</a>
            </div>
        </main>
        <div class="max-w-3xl mx-auto py-5 px-4 mt-3">
            <div class="border-b-2 py-3">
                <h2 class="text-2xl font-semibold">My Enrolled Courses:</h2>
            </div>
            
            <ul class="mt-4 space-y-4">
                <% for (let course of courses) { %>
                    <li>
                        <a href="/view-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                            <div class="bg-white border border-gray-300 p-4 rounded-lg shadow hover:shadow-lg">
                                <div class="flex items-center justify-between">
                                    <h2 class="text-xl font-semibold">
                                        <%= course.courseName %>
                                        <span class="text-green-600 text-xl block">
                                            <%= ((course.donePagesCount / course.totalPages) * 100).toFixed(2) %>% Complete
                                        </span>
                                        <span class="flex flex-row text-lg">
                                            Completed: <%= course.donePagesCount %> pages<br>
                                            Total: <%= course.totalPages %> pages<br>
                                        </span>
                                    </h2>
                                    
                                </div>
                                <% for(let user of users) { %>
                                    <% if(user.id === course.userId) { %>
                                        <h3 class="text-lg font-medium m-1"> by <%= user.firstName %> <%= user.lastName %></h3>
                                    <% } %>
                                <% } %>
                                <a href="/view-course/<%= course.courseId %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>"
                                    class="block mt-3 bg-blue-600 hover:bg-blue-700 text-white rounded-md px-4 py-2 text-center">
                                    View Course
                                </a>
                            </div>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <%- include ('footer.ejs') %>
</body>

</html>